<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="org.springframework.boot.logging.logback.StructuredLogEncoder">
            <format>${CONSOLE_LOG_STRUCTURED_FORMAT}</format>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="SLACK" class="swm.calender.support.logging.logback.SlackWebhookAppender">
        <webhookUrl>${SLACK_ERROR_WEBHOOK_URL:-}</webhookUrl>
        <serviceName>teams</serviceName>
        <environment>dev</environment>
        <minimumEventLevel>${SLACK_ERROR_MIN_LEVEL:-WARN}</minimumEventLevel>
    </appender>

    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>256</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="SLACK"/>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="swm.calender" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC_SLACK"/>
    </root>
</configuration>
